* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: #000;
  min-width: 363px;
}

.wrapper {
  width: 1220px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s;
}

.link:hover {
  color: #e06733;
  transition: color 0.5s;
}

.button {
  cursor: pointer;
  text-align: center;
  padding: 12px;
  min-height: 44px;
  min-width: 158px;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Inika", serif;
  line-height: 26px;
  color: #e06733;
  transition: background-color 0.5s;
}

.service-button {
  color: #e06733;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Inika", serif;
  text-align: center;
  padding: 12px;
  min-height: 44px;
  line-height: 26px;
  min-width: 161px;
  height: 50px;
  border: 1px solid #e06733;
}

.button:hover,
.button--activated {
  color: #fff;
  cursor: pointer;
  background-color: #e06733;
  transition: background-color 0.5s;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* Header */

.header {
  background-color: #edf2ec;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 135px;
}

.logo-block {
  display: flex;
  align-items: baseline;
  z-index: 10;
}

.nav-list {
  min-width: 452px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  transition: color 0.5s;
}

.logo-block__title {
  font-family: "Inika", serif;
  font-size: 16px;
}

.nav-list__link {
  display: inline-block;
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  transition: 0.5s;
}

.nav-list__link:hover {
  font-weight: 700;
  transition: 0.5s;
}

.nav-list__link--active {
  color: #e06733;
  font-weight: 700;
}

.mobile-menu {
  display: none;
}

/* Welcome section */

.welcome {
  background-color: #edf2ec;
}

.welcome-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 62px;
}

.welcome-image-block {
  width: 448px;
  height: 407px;
}

.welcome-description {
  max-width: 549px;
  padding-top: 35px;
}

.welcome-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-top: 0;
  margin-bottom: 44px;
}

.welcome-title-color {
  color: #499a18;
}

.welcome-text {
  color: #636060;
  margin-bottom: 47px;
}

.welcome-button {
  padding: 0;
  height: 44px;
  min-width: 159px;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid #e06733;
  border-radius: 10px;
  color: #000;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

/* About section */

.about-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 93px 0px 83px;
}

.about-description {
  max-width: 605px;
  padding-top: 68px;
}

.about-title {
  margin-top: 0px;
  margin-bottom: 46px;
  padding-right: 60px;
  font-family: "Inika", serif;
  color: #499a18;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
}

.about-title-color {
  color: #e06733;
}

.about-text {
  color: #636060;
  line-height: 30px;
}

/* Service section */

.service {
  background-color: #edf2ec;
}

.service-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1007px;
  margin-bottom: 47px;
}

.service-title {
  width: 306px;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-top: 40px;
}

.service-buttons-block {
  width: 560px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 66px;
  column-gap: 20px;
}

.service-card {
  max-width: 330px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 55px;
  outline: 1px solid #e3e1d5;
  outline-offset: -1px;
  -webkit-transition: 0.6s -webkit-filter linear;
  -moz-transition: 0.6s -moz-filter linear;
  transition: 0.6s filter linear;
}

.service-card--blurred {
  filter: blur(2px);
}

.service-card__image-block {
  height: 350px;
  position: relative;
}

.service-card__image {
  width: 100%;
  height: 100%;
}

.service-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  text-align: center;
  margin: 10px 0px 14px;
}

.service-card__text {
  margin: 10px 31px 36px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

/* Prices section */

.prices-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 114px;
}

.prices-title {
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 60px;
}

.prices-contact-title {
  font-size: 40px;
  line-height: 50px;
  text-align: end;
  margin-top: 0;
  margin-bottom: 40px;
}

.contact-block {
  width: 452px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prices-title-color {
  color: #499a18;
}

.prices-button {
  margin-bottom: 40px;
  min-width: 162px;
  min-height: 50px;
  line-height: 20px;
  font-weight: 700;
}

.prices-image-block {
  width: 152px;
  height: 175px;
}

.prices-block {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 34px 40px 0px;
}

.prices-accourdion {
  position: relative;
  width: 250px;
  padding: 15px 39px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 20px;
  list-style: none;
  background-color: #edf2ec;
  margin-bottom: 32px;
}

.prices-accourdion__button-down,
.prices-accourdion__button-up {
  position: absolute;
  left: 194px;
  top: 16px;
  border-radius: 50%;
  border: none;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.prices-accourdion__description {
  position: relative;
  top: -82px;
  margin-bottom: -52px;
  width: 250px;
  padding: 15px 47px 12px 39px;
  border-radius: 20px;
  line-height: 20px;
  font-weight: 700;
  background-color: #d6e7d2;
  display: none;
  animation: slide-down 0.4s ease-out;
}

.prices-accourdion__description--active {
  display: block;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.prices-accourdion__name {
  display: inline-block;
  margin-bottom: 9px;
}

.prices-accourdion__about {
  padding: 6px 0px;
  margin: 0;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  color: #717171;
  border-top: 0.5px solid #aea1a1;
}

.prices-accourdion__pricetag {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.prices-accourdion__pricetag-colored {
  font-size: 16px;
  font-weight: 700;
  color: #e06733;
}

.prices-accourdion__pricetag-colored-currency {
  font-weight: 700;
  color: #e06733;
}

.prices-accourdion__order-button {
  color: #717171;
  margin-top: 6px;
  padding: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  min-height: 25px;
  min-width: 86px;
  border-radius: 10px;
}

/* Contacts section */

.contacts {
  background-color: #edf2ec;
}

.contacts-wrapper {
  padding-top: 60px;
  background: url(../img/contact_woman.png) 0 53px no-repeat;
  min-height: 550px;
}

.contacts-title {
  font-family: "Inika", serif;
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  text-align: center;
}

.contacts-select-wrapper {
  width: 450px;
  margin-left: auto;
  position: relative;
}

.contacts-selected {
  position: relative;
  width: 450px;
  height: 50px;
  padding: 5px 35px;
  font-size: 16px;
  line-height: 40px;
  color: #717171;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  appearance: none;
  background: url("../img/city-arrow-down.svg") no-repeat 400px;
  background-color: #d6e7d2;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: background-color 0.5s;
}

.contacts-selected:hover,
.contacts-selected:focus {
  background-color: #c1e698;
  transition: background-color 0.5s;
}

.contacts-selected--active {
  background-image: url("../img/city-arrow-up.svg");
  background-color: #c1e698;
}

.contacts-selected--chosen {
  background-color: #c1e698;
}

.contacts-select {
  display: none;
  min-height: 234px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #dce9d9;
  padding: 27px 35px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: slide-down 0.3s ease-out;
}

.contacts-select--active {
  display: flex;
}

.contacts-option {
  padding: 0px 6px;
  color: #499a18;
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.contacts-option:hover,
.contacts-option:focus {
  color: #717171;
  border-color: #717171;
  transition: background-color 0.5s;
  transition: 0.5s;
}

.contacts-option__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contacts-option__label {
  display: block;
  width: 100%;
  cursor: pointer;
}

.contacts-city-card {
  display: none;
  position: absolute;
  min-width: 450px;
  top: 49px;
  margin-top: 47px;
  padding: 12px 32px 32px 32px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.contacts-city-card--active {
  display: block;
}

.city-card-table {
  font-size: 16px;
  line-height: 37px;
  text-align: left;
}

.city-card-table__col-1 {
  font-weight: 400;
  min-width: 132px;
}

.city-card-table__col-2 {
  color: #717171;
}

.contacts-call-button {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 29px;
  min-height: 26px;
  min-width: 122px;
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
  color: #717171;
}

/* Footer */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}

.author-block {
  min-width: 168px;
  display: flex;
  justify-content: space-between;
  margin-right: 17px;
}

.social-list {
  width: 188px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
}

.social-icon {
  fill: #000;
  transition: 0.5s;
}

.social-icon:hover {
  fill: #e06733;
  transition: 0.5s;
}

/* Adaptive */

@media (max-width: 1366px) {
  .wrapper {
    max-width: 87%;
  }
}

@media (max-width: 1200px) {
  .welcome-wrapper {
    padding-bottom: 70px;
  }

  .welcome-description {
    padding-top: 0;
    max-width: 51.8%;
  }

  .welcome-image-block {
    max-width: 42%;
    height: auto;
  }

  .welcome-title {
    font-size: 40px;
    margin-bottom: 31px;
  }

  .welcome-text {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 35px;
  }

  .about-wrapper {
    align-items: center;
  }

  .about-description {
    max-width: 55%;
    padding-top: 0;
  }

  .about-image-block {
    max-width: 40%;
  }

  .service-block {
    width: 100%;
  }

  .service-card {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .header-wrapper {
    min-height: 121px;
  }

  .welcome-wrapper {
    padding-top: 36px;
  }

  .welcome-title {
    font-size: 35px;
  }

  .welcome-text {
    font-size: 16px;
    line-height: 25px;
    padding-left: 5px;
  }

  .welcome-image-block {
    order: 1;
  }

  .about-wrapper {
    padding-bottom: 84px;
  }

  .about-title {
    font-size: 35px;
    padding-right: 0;
  }

  .service-block {
    display: block;
    padding-top: 18px;
    margin-bottom: 41px;
  }

  .service-title {
    font-size: 35px;
    line-height: 48px;
  }

  .service-cards {
    padding-bottom: 32px;
  }

  .service-card {
    width: 41.9%;
    margin-bottom: 38px;
  }

  .service-card__title {
    margin-bottom: 10px;
  }

  .service-card__text {
    margin-bottom: 20px;
  }

  .prices-title {
    font-size: 35px;
    padding-left: 14px;
    margin-bottom: 52px;
  }

  .prices-contact-title {
    font-size: 25px;
    line-height: 35px;
    margin-top: 101px;
    margin-bottom: 28px;
    max-width: 300px;
  }

  .prices-button {
    margin-bottom: 36px;
  }

  .prices-wrapper {
    padding-bottom: 87px;
  }

  .contacts-wrapper {
    background-position: 52% bottom;
    background-size: 200px;
    min-height: 740px;
    padding-top: 40px;
  }

  .contacts-title {
    margin-bottom: 99px;
  }

  .contacts-select-wrapper {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    padding-top: 37px;
  }

  .about-description {
    max-width: 100%;
  }

  .about-title {
    max-width: 430px;
    text-align: center;
    margin: 0 auto;
    line-height: 48px;
  }

  .about-text {
    margin-top: 50px;
    margin-bottom: 67px;
  }

  .about-image-block {
    max-width: 37.4%;
  }

  .service-buttons-block {
    max-width: 560px;
    width: 100%;
  }

  .footer-wrapper {
    flex-direction: column;
    padding: 27px 0px 23px;
    min-height: 180px;
  }

  .author-block {
    margin-right: 7px;
  }

  .school-block {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .nav-list {
    min-width: 350px;
  }

  .prices-wrapper {
    flex-direction: column;
    padding-bottom: 35px;
  }

  .prices-title {
    padding-left: 0;
    text-align: center;
  }

  .prices-block {
    width: 67%;
    margin: 0 auto;
    padding: 29px 22px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-block {
    width: 100%;
    align-items: center;
  }

  .prices-contact-title {
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .button {
    min-height: 34px;
  }

  .prices-accourdion__order-button {
    min-height: 10px;
  }

  .header-wrapper {
    min-height: 96px;
  }

  .nav-list {
    position: absolute;
    left: 0;
    right: 0;
    top: -400px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 58px;
    padding-left: 45px;
    background-color: #d6e7d2;
    z-index: 9;
    box-shadow: 0 -6px 10px 5px rgb(0 0 0 / 50%);
    transition: ease-in-out 0.3s;
  }

  .nav-list--active {
    visibility: visible;
    top: 0;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 25px;
    justify-content: space-evenly;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 1px 0px;
    z-index: 10;
  }

  .mobile-menu::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #717171;
    transition: 0.3s;
  }

  .mobile-menu--active::before {
    transform: rotate(45deg);
    top: 11px;
  }

  .mobile-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #717171;
    transition: 0.3s;
  }

  .mobile-menu--active::after {
    transform: rotate(-45deg);
    bottom: 12px;
  }

  .mobile-menu__line {
    background-color: #717171;
    width: 100%;
    height: 2px;
    transition: 0.3s;
  }

  .mobile-menu--active .mobile-menu__line {
    transform: scale(0);
  }

  .welcome-wrapper {
    padding-top: 26px;
    padding-bottom: 24px;
  }

  .welcome-image-block {
    display: none;
  }

  .welcome-description {
    max-width: 100%;
  }

  .welcome-title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .welcome-text {
    margin-bottom: 23px;
    padding-left: 0;
  }

  .welcome-button {
    font-size: 10px;
    min-width: 100px;
    height: 34px;
  }

  .about-wrapper {
    padding-top: 30px;
    padding-bottom: 17px;
  }

  .about-title {
    font-size: 25px;
    line-height: 33px;
  }

  .about-text {
    font-size: 15px;
    line-height: 25px;
    margin-top: 13px;
    margin-bottom: 0px;
  }

  .about-image-block {
    max-width: 45%;
  }

  .service-title {
    width: 58%;
    font-size: 25px;
    line-height: 33px;
    margin-top: 12px;
  }

  .service-block {
    margin-bottom: 39px;
  }

  .service-buttons-block {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 18px;
  }

  .service-button {
    padding: 0;
    min-width: 121px;
    height: 35px;
    font-size: 15px;
  }

  .service-cards {
    justify-content: center;
    padding-bottom: 0;
  }

  .service-card {
    width: 84.8%;
    max-width: 84.8%;
    margin-bottom: 34px;
  }

  .service-card:last-child {
    margin-bottom: 27px;
  }

  .prices-title {
    font-size: 25px;
    margin-bottom: 28px;
  }

  .prices-block {
    padding-bottom: 12px;
  }

  .prices-accourdion {
    width: 180px;
    padding-left: 31px;
    margin-bottom: 14px;
    font-size: 15px;
  }

  .prices-accourdion__button-down,
  .prices-accourdion__button-up {
    left: 125px;
  }

  .prices-accourdion__description {
    top: -64px;
    width: 180px;
    padding-left: 31px;
    font-size: 15px;
  }

  .prices-contact-title {
    width: 70%;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .prices-button {
    min-width: 121px;
    font-size: 15px;
    padding: 5px;
  }

  .prices-image-block {
    display: none;
  }

  .prices-wrapper {
    padding-top: 16px;
    padding-bottom: 5px;
  }

  .contacts-wrapper {
    min-height: 445px;
    padding-top: 28px;
    background-size: 100px;
    background-position-x: 49%;
  }

  .contacts-title {
    font-size: 25px;
    line-height: 1.15;
    margin-bottom: 83px;
  }

  .contacts-select-wrapper {
    width: 300px;
  }

  .contacts-selected {
    width: 300px;
    background-position: 262px;
  }

  .footer-wrapper {
    padding: 17px 0px 16px;
    min-height: 125px;
  }

  .school-block {
    margin: 5px 0px 6px;
  }
}

@media (max-width: 376px) {
  .prices-accourdion {
    width: 150px;
  }

  .prices-accourdion__description {
    width: 150px;
    padding: 15px 31px;
  }

  .prices-accourdion__button-down,
  .prices-accourdion__button-up {
    left: 114px;
  }

  .contacts-select-block {
    width: 220px;
  }

  .contacts-select {
    width: 100%;
    background-position: 180px;
  }
}
